/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.07.2017, 18:06:12
    Author     : User
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

.container-fluid {
    max-width: 1600px;
    padding: 0;
}
.navbar {
    background-color:  #fff;
    border: none;
    margin: 28px;
    padding:  0 200px;
}
.navbar-header .navbar-brand , .navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:active {
    font-family: 'PT Sans', sans-serif;
    color:  #ec4848;
    font-size: 34px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: right;
    /*transform: scaleY(1);  свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav>.active li>a{
    color:  #ec4848;
    background: none;
}
.glyphicon-search {
    color:  #3f444a;
    font-size: 30px;
    padding: 9px;
}
.carousel-caption {
    bottom: 30%;
}
.carousel-caption h1{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 90px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    margin-bottom: 30px;
}
.carousel-caption p {
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    margin-bottom: 85px;
}
.btn-more {

    border: none;
    border-radius: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ec4848;
    width: 147px;
    height: 50px;
    margin-bottom: 20px;
}
.about {
    margin-bottom: 80px;
    padding: 0 247px;
    border: 1px solid #ebebeb; 
    max-width: 1600px;
}
.about h1 {
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.about p {
    margin: 0 auto 65px;
    width: 800px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.panel-heading {
    padding: 0;
    width: 538px;
}
.panel-title {
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(138, 138, 138, 50);
    background-color: #3f444a;
    height: 57px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.panel-group {
    margin-bottom: 10px;
}
.panel-title {
    padding : 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}
.panel-body {
    width: 538px;
    padding: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #323232;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.progress {
    margin-bottom: 30px; 
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(138, 138, 138, 34);
    background-color: #f2f2f2; ;
    width: 538px;
    height: 31px;
}
.progress:last-child {
    margin-bottom: 0;
}
.progress-bar > p {
    margin-left: 18px;
}

.servises{
    padding: 0 247px;
    border: 1px solid #ebebeb;
    text-align: center;
}
.servises h1 {
    margin-top: 50px;
    margin-bottom: 59px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.widget {
    margin-bottom: 51px;
    padding-bottom: 45px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    background-color: #fff;
    max-width: 330px;
/*    height: 460px;*/
}
.widget_1 {
        margin-bottom: 52px;
    padding-bottom: 46px;
    border-radius: 10px;
        border-width: 1px;
    background-color: #3f444a;
    max-width: 330px;
    /*height: 460px;*/
}
.widget_1 img {
    width: 88px;
    height: 88px;
    margin: 33px auto;
}
.widget_1 h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.widget_1 p {
    margin: 15px 45px 40px 27px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    text-align: left;}
.widget img {
    width: 88px;
    height: 88px;
    margin: 33px auto;
}
.widget h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.widget p {
    margin: 15px 44px 40px 26px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.join {
    border: 1px solid #ebebeb;

    background-color: #ffffff;
    max-width: 1600px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}
.img {
    padding-top: 100px;
    background-position:center center;
    background-image: url(../img/bg_image.png);
    background-repeat: no-repeat;
    background-color: #344656;
    height: 100%;
    max-width: 1600px;
    text-align: center;

}
.img h1 {
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.img p {
    margin: 53px auto 33px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    max-width: 800px;
}

.offer {
    padding: 30px 257px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
    max-width: 1600px;
    height: 424px;
}
.offer h1 {
    margin-bottom: 59px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.offer img {
    padding: 20px;
    background: center no-repeat ;
    background-color: #ec4848;
    width: 80px;
    height: 80px;
}
.offer h2 {
    margin-top: 0;
    margin-left: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 25px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.offer p {
    margin-left: 18px;
    margin-bottom: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 25px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.reviews {
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
    width: 100%;
    padding: 0 20%;
}
.reviews h1 {
    margin-top: 49px;
    margin-bottom: 59px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.reviews h2 {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 25px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}
.reviews span {
    margin: 3px 1px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ec4848;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}
.reviews p {
    margin-top: 32px;
    margin-bottom: 66px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 25px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.nav_arc {
    margin: 0 auto;
    text-align: center;
}

.pagination li a {
    color: #fff;
    border: none;
}
.arc {
    border-radius: 50%;
    background-color:  #3f444a;
    width: 13px;
    height: 13px;
}

.conteiner_2 {margin: 0 auto;
    padding: 50px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
    max-width: 1600px;
    height: 474px;
}
.conteiner_2_img {
    padding: 58px 235px;
    height: 100%;
    background: url(../img/Rectangle_14.png) ;
}
.baner {
    text-align: center;
    padding-top: 49px;
    background-color: rgba(236, 72, 72, 0.3);
    width: 268px;
    height: 248px;
}
.baner > img {
    margin: 0 auto 18px;
}
.account {
    display: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.baner p {
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}

.team {
    padding: 20px 235px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
}
.team h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.team p {
    margin: 53px 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.bg_team {
    margin-bottom: 30px;
    background-color:  rgba(0, 0, 0, 0.2);
    width: 268px;
    height: 300px;
}
.foto-1 {
    padding-top: 300px;
    width: 268px;
    height: 300px;
    background-image: url(../img/shutterstock_1.png);
}
.foto-2 {
    padding-top: 300px;
    width: 268px;
    height: 300px;
    background-image: url(../img/shutterstock_2.png);
}
.foto-3 {
    padding-top: 300px;
    width: 268px;
    height: 300px;
    background-image: url(../img/shutterstock_3.png);
}
.foto-4 {
    padding-top: 300px;
    width: 268px;
    height: 300px;
    background-image: url(../img/shutterstock_4.png);
}
.hower {
    opacity: 0;
    margin-top: -100px;
    padding-top: 8px;
    background-position-x: top; 
    background-color: rgba(236, 72, 72, 0.96);
    width: 268px;
    height: 100px;
    text-align: center;
}
.hower:hover {
    opacity: 1;
}
.hower h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 25px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.hower h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}
.soc-site a {
    margin: 0 auto;
    background: transparent;
    display: inline;
    color: #fff;
    text-align: center;
}
.soc-site i:hover {
    color: #000000;
    border-bottom: 2px solid #000;
}
i {
    padding-bottom: 3px;
    margin: 0 5px;
}

.work {
    padding: 20px 235px 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
    max-width: 1600px;
    text-align: center;
}
.work h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.work p {

    max-width: 800px;
    margin: 35px auto 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.work-img {
    margin-top: 25px;
}
.work-ul > ul {
 
    margin: 0 auto;
    text-align: center;
}
.work-img ~ h4 {
    margin-top: 27px;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.work-img ~ p {
    padding: 0;
    margin: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5c6873;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
}

.client {
    padding: 20px 235px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: #ffffff;
    max-width: 1600px;
    height: 231px;
}
.client h1 {
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3f444a;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.client h2 {
    float: right ;
    font-family: 'Myriad Pro';
    color: #292625;
    font-size: 24.74px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    transform: scaleX(1.0061); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.client img {
    margin-top: 3px;
}

.subscribe {
    padding: 15px 235px;
    background-color: #312b2b;
    max-width: 1600px;
}
.subscribe p {
    margin: 7px auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cccccc;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 35.417px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleX(1.0193); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.input-group {
    border-radius: 3px;
    background-color: #f0f1f3;
    width: 361px;
    /**/
}
.form-control {
    height: 49px;
}
.input-group-addon {
    background-color: #ec4848;
    width: 62px;
    height: 49px;
}

.widget_footer {
    margin: 0 auto;
    padding: 55px 210px;
    background-color: #151515;
    max-width: 1600px;

}
.widget_footer h1 {
    padding-top: 0;
    margin-top: 0;
    margin-left: 7px;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
    color: #ec4848;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.widget_footer h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 21px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 21px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.widget_footer p {
    margin-left: 25px;
    margin-bottom: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.icon {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    color: #434343;
}
.icon i {
    padding:  0 auto;
}
.some li {
    /*    display: inline;*/
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cccccc;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.some i {
    margin: 7px;
    color: #ec4848;
}
.tags ul {
    padding: 0;
}
.tags li {
    margin: 0 auto;
    display: block;
    float: left;
    text-align: justify;
}
.tags a {
    display: block;
    text-transform: uppercase;
    margin:4px;
    padding: 2px 10px;
    background-color: #ec4848;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 21px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}
.post-img {
    padding: 0;
    margin: 4px;
}
.copyrite {
    padding: 0 200px;
    border-top: 3px solid #534a4a;
    background-color:  #151515;
    height: 65px;
    max-width: 1600px;
}
.copyrite p {
    margin: 20px;
    font-family:  ' Open Sans', sans-serif;
    color: #c5c5c5;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 19px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    float: left;  
}
.copyrite p span {
    font-family:  ' Open Sans', sans-serif;
    color: #ec4848;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 19px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.social {
    color: #747474;
    margin: 20px;
    float: right;
}
.social li {
    display: inline;
}



/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}